.separator {
  height: 18px;
}

.movie-item-container {
  margin-top: 18px;
}

.menu-button {
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;

  mat-icon {
    height: 12px;
    width: 14px;
  }
}


.menu-button:hover {
  cursor: pointer;
}

.selected-item-icon {
  visibility: hidden;
  float: right;
  margin-right: 0!important;
}

.selected-item {
  font-weight: 700;

  .selected-item-icon {
    visibility: visible;
  }
}

.list-container {
  overflow-y: auto;
}

.movies-list-container {
  min-height: 690px;
}
