<div class="movies-list-container">
  <p [matMenuTriggerFor]="menu" class="menu-button">
    VER:
    <b>
      {{ categoryDisplaying() }}
      <mat-icon svgIcon="arrow" class="sm-mat-icon"></mat-icon>
    </b>
  </p>
  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      (click)="display('popular')"
      [ngClass]="isDisplayingPopular() ? 'selected-item' : ''">
      POPULARES
      <mat-icon
        svgIcon="tick"
        class="selected-item-icon sm-mat-icon"></mat-icon>
    </button>
    <button
      mat-menu-item
      (click)="display('my-list')"
      [ngClass]="isDisplayingMyList() ? 'selected-item' : ''">
      MI LISTA
      <mat-icon
        svgIcon="tick"
        class="selected-item-icon sm-mat-icon"></mat-icon>
    </button>
  </mat-menu>
  <div class="list-container">
    <div
      *ngFor="
        let movie of isDisplayingPopular() ? popularMoviesList : myMoviesList;
        let isLast = last
      "
      class="movie-item-container">
      <app-movie-tumbnail [movie]="movie"></app-movie-tumbnail>
    </div>
  </div>
</div>
