.separator {
  height: 18px;
}

.movie-item-container:not(:first-child) {
  margin-top: 18px;
}

.menu-button {
  text-align: center;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 18px;

  mat-icon {
    height: 12px;
    width: 14px;
  }
}


.menu-button:hover {
  cursor: pointer;
}

.selected-item-icon {
  visibility: hidden;
  float: right;
  margin-right: 0!important;
}

.selected-item {
  font-weight: 700;

  .selected-item-icon {
    visibility: visible;
  }
}

.movies-list-container:not(.is-mobile-layout) {
  .list-container {
    height: min(70vh, 650px);
    overflow-y: auto;
  }
}
