.app-container {
  position: relative;
  height: 100%;
  width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  padding: 0 6%;
}

.toolbar-contaier {
  padding: 32px 0 0;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 250%);s
}

mat-sidenav {
  padding: 20px;
}
