.app-container {
  position: relative;
  height: 100%;
  width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  padding: 0 7%;
  overflow-x: hidden;
}

.router-container {
  padding-top: 72px;
}

.toolbar-contaier {
  width: 100%;
  z-index: 4;
}

mat-sidenav-content {
  .toolbar-contaier {
    position:fixed;
    top:0;
  }
}

.sidenav-panel {
  width: 600px;
  max-width: 86vw;
  padding: 0 7vw;
  display: flex;
  flex-direction: column;
}

.nav-button {
  font-size: 22px;
  line-height: 62px;
}

.nav-button:hover {
  font-weight: 700;
  cursor: pointer;
}

.add-movie-button {
  margin: 20px 0 30px;
}

.sidenav-panel-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 10%;
  height: 40px;

  mat-icon {
    height: 27px;
    width: 27px;
    line-height: 27px;
    font-size: 27px!important;
  }

  button {
    margin-left: 35px
  }

  .profile-icon {
    border-radius: 50%;

    img {
      display: block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  .close-button-container {
    flex: 1
  }

  .close-button {
    margin: 0;
    width: 27px;
  }
}

.is-movile-layout {
  .sidenav-panel {
    width: 100vw;
  }
  .sidenav-panel-toolbar {
    margin-top: 12px;
  }
  .close-button-container {
    flex: none
  }
  button {
    margin-left: 0;
    width: 40px!important;
    text-align: left;
  }
}

h2 {
  margin: 0;
}
