mat-icon.sm-mat-icon {
  font-size: 15px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  display: inline-block;
}

button.mat-button-base:not(.mat-icon-button) {
  mat-icon.sm-mat-icon {
    margin-right: 12px;
    margin-bottom: 7px;
  }
}
