input {
  width: 248px;
  padding: 8px 0;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: $light-primary-text;
  background: transparent;
  border: none;
  border-bottom: 1px solid $light-primary-text;
  caret-color: $liteflix-primary-color;
  outline: none;
}

input:focus {
  border-color: $liteflix-primary-color;
}

input.ng-invalid.ng-touched:not(:focus) {
  border-color: $liteflix-warn-color;
}
