@use '@angular/material' as mat;

@include mat.menu-theme($liteflix-dark-theme);

.mat-menu-panel {
  border-radius: 0!important;
  width: 241px;
  background-color: #242424;
  padding: 8px 16px;
}

button.mat-menu-item {
  font-size: 16px;
  line-height: 16px!important;
  letter-spacing: 4px;
  height: 32px;
  padding: 10px;
}
