
mat-toolbar {
  margin: 32px 0 0;
}
mat-toolbar.mobile-layout {
  margin: 12px 0 0;
  display: flex;
  justify-content: space-between;
}

.app-title {
  margin: 0;
}

.profile-icon {
  border-radius: 50%;

  img {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 35px
}

.mobile-layout {
  button {
    margin-left: 0
  }
}
