.app-title {
  margin: 0;
}

.profile-icon {
  border-radius: 50%;

  img {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 35px
}
