<mat-toolbar *ngIf="!isMobileLayout">
  <h2 class="app-title mat-primary-color-text"><b>LITE</b>FLIX</h2>
  <button mat-button class="add-movie-button" (click)="handleUploadNewMovie()">
    <mat-icon svgIcon="plus" class="sm-mat-icon"></mat-icon>AGREGAR PELÍCULA
  </button>
  <span class="spacer"></span>
  <button mat-icon-button class="menu-icon" (click)="handleOpenSidenav()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <button mat-icon-button class="notifications-icon">
    <mat-icon svgIcon="notifications"></mat-icon>
  </button>
  <button mat-icon-button class="profile-icon">
    <img src="assets/icons/default-profile.png" />
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="isMobileLayout" class="mobile-layout">
  <button mat-icon-button class="menu-icon" (click)="handleOpenSidenav()">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <h2 class="app-title mat-primary-color-text"><b>LITE</b>FLIX</h2>
  <button mat-icon-button class="profile-icon">
    <img src="assets/icons/default-profile.png" />
  </button>
</mat-toolbar>
