<div class="upload-movie-form-container">
  <h3 class="mat-primary-color-text"><b>AGREGAR PELÍCULA</b></h3>

  <div class="file-container">
    <app-drag-and-drop-file-input
      [(ngModel)]="backdrop_file"
      (ngModelChange)="handleFileDrop()"
      [hidden]="backdrop_file">
    </app-drag-and-drop-file-input>

    <div class="file-upload-container" *ngIf="backdrop_file">
      <p class="upload-detail" *ngIf="file_upload_status === 'uploading'">
        CARGANDO <b>{{ file_upload_status }}%</b>
      </p>
      <p class="upload-detail" *ngIf="file_upload_status === 'error'">
        <b>¡ERROR!</b> NO SE PUDO CARGAR LA PELÍCULA
      </p>
      <p class="upload-detail" *ngIf="file_upload_status === 'success'">
        <b>100% CARGADO</b>
      </p>
      <div class="mat-progress-bar-container">
        <mat-progress-bar
          [value]="file_upload_progress"
          [color]="file_upload_status === 'error' ? 'warn' : 'primary'">
        </mat-progress-bar>
      </div>
      <a class="upload-cancel-button">CANCELAR</a>
    </div>
  </div>

  <form [formGroup]="uploadMovieForm" (ngSubmit)="handleSendForm()">
    <input
      id="movie-name"
      type="text"
      formControlName="title"
      placeholder="TÍTULO" />

    <button
      mat-flat-button
      color="accent"
      [disabled]="uploadMovieForm.invalid || formIsSubmitting"
      type="submit">
      SUBIR PELÍCULA
    </button>
  </form>
</div>
