<div class="upload-movie-modal-container">
  <app-upload-movie-form
    (movieSubmitted)="handleMovieSubmitted($event)"
    *ngIf="!movieSubmitted"></app-upload-movie-form>
  <div class="movie-uploaded-message-container" *ngIf="movieSubmitted">
    <h2 class="mat-primary-color-text"><b>LITE</b>FLIX</h2>
    <div>
      <h3><b>¡FELICITACIONES!</b></h3>
      <p>{{ movieSubmitted.title }} fue correctamente subida.</p>
    </div>
    <button mat-flat-button (click)="close()" color="accent" routerLink="/">
      IR A HOME
    </button>
  </div>

  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
