@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();


// Palette

$liteflix-webapp-primary: mat.define-palette(mat.$indigo-palette);
$liteflix-webapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$liteflix-webapp-warn: mat.define-palette(mat.$red-palette);


// Theme

$webapp-theme-background-palette: (
    background: #191919,
    card:       #ffffff,
    dialog:     rgba(36, 36, 36, 0.9),
    raised-button: #242424
);

$liteflix-webapp-theme: (
    primary: $liteflix-webapp-primary,
    accent: $liteflix-webapp-accent,
    warn: $liteflix-webapp-warn,
    is-dark: true,
    foreground: mat.$dark-theme-foreground-palette,
    background: $webapp-theme-background-palette,
);

@include mat.all-component-themes($liteflix-webapp-theme);


// Typography

$liteflix-typography-config: mat.define-typography-config(
  $font-family: 'Bebas Neue',
  $display-4: mat.define-typography-level(120px, 100px, 700, $letter-spacing: 16px),
  $headline: mat.define-typography-level(120px, 100px, 700, $letter-spacing: 16px),
  $title: mat.define-typography-level(20px, 20px, 400, $letter-spacing: 4px),
  $body-2: mat.define-typography-level(16px, 19.2px, 400, $letter-spacing: 4px),
);

@include mat.all-component-typographies($liteflix-typography-config)